<div class="container mt-3">
  <h1>Restaurants</h1>
  <p><%= link_to 'â• Add your favorite restaurant to this list here!', new_restaurant_path %></p>

  <% @restaurants.each do |restaurant| %>
    <h2><%= link_to "#{restaurant.name}", restaurant_path(restaurant) %></h2>
  <% end %>

</div>
